body {
    background-image: url('../../public/login-background.svg');
    /* background-color: #121212; */
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

main {
    backdrop-filter: blur(8px);
    border-radius: 10px;
    text-align: center;
    /* background-color: rgba(39, 130, 86, 0.2); */
    background: linear-gradient(135deg, rgba(39, 130, 86, 0.3), #00000013);
}